name: Node CI

on: [push]

jobs:
  build:
    name: Test Node.js ${{ matrix.node-version }} on ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [14.x]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Install pnpm
      uses: pnpm/action-setup@v2
      with:
        version: 8.5.0

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'

    - name: Print Node.js Version
      run: node --version

    - name: Install Dependencies
      run: pnpm install --frozen-lockfile

    - name: Run "build" step
      run: pnpm build

    - name: Run tests
      run: pnpm test
